.code-editor {
    display: block;
    position: relative;
    font-family: monospace;
    line-height: 1.5;
    width: 90%;
    background-color: black !important;
    border-radius: 4px;
    height: 90vh;
    resize: both;
    overflow: auto;
    font-size: 13px;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    line-height: inherit;
    white-space: nowrap;
}

#code {
    display: block;
    height: 100%;
}

.code-editor .pre-code {
    position: absolute !important;
    pointer-events: none;
    background-color: transparent;
}

.code-editor textarea {
    position: absolute !important;
    top: 0px;
    left: 0px;
    background-color: transparent;
    color: transparent;
    caret-color: white !important;
    outline: none;
    overflow: auto;
    resize: none;
}

.code-editor pre, textarea {
    padding: 0px !important;
    margin: 0px !important;
    width: 99% !important;
    height: calc(99%);
    font-size: 13px;
    font-family: inherit;
    line-height: inherit;
    border: none;
    overflow: auto;
}
